{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}




  <!-- Signup Section -->
  <section id="signup" class="signup-section">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
    
              <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
              <h2 class="text-white mb-5">ABOUT</h2>
    
              <p class="text-white-50">멋쟁이 사자처럼 7기 이태림이 만든 작품입니다.</p>
                <p class="text-white-50">단어를 세 주죠.</p>
    
                <a href="{% url 'home' %}">home으로 가기</a>    
            </div>
          </div>
        </div>
      </section>
    
      <!-- Contact Section -->
      <section class="contact-section bg-black">
        <div class="container">
    
          <div class="row">
    
            
    
        
    
            
    
         
    
        </div>
      </section>

      
{% endblock content %}