{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h1></h1>





<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="img/bg-masthead.jpg" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>당신이 입력한 텍스트는 {{ total }}단어로 구성되어 있습니다.</h4>
            <br>
            <a href="{% url 'home' %}"> 다시 하기</a>


            <p class="text-black-50 mb-0"></p>
          </div>
        </div>
      </div>

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="img/demo-image-01.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                    <h4 class="text-white">입력한 텍스트</h4>
                    <p class="mb-0 text-white-50">
                            {{ fulltext }}</p>
                
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="img/demo-image-02.jpg" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                    <h4 class="text-white">단어 카운트</h4>
                
                    <p class="mb-0 text-white-50">
                        {% for word, countTotal in dictionary %}
                        {{ word }} - {{ countTotal }}
                        <br>
                        {% endfor %}</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>



{% endblock content %}