{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">WORD COUNT</h2>
          
          <a href="{% url 'about' %}">ABOUT</a>
          <br>
          <br>
          <p class="text-white-50">The program counts how many words there are.
            </p>

            <form action="{% url 'count' %}">
                <textarea cols="40" rows="10" name="fulltext"></textarea>
                <br>
                <br>
                <input class="btn btn-primary js-scroll-trigger" type="submit" value="Count!">

            </form>

        </div>
      </div>
      <img src="img/ipad.png" class="img-fluid" alt="">
    </div>
  </section>

{% endblock content %}


